@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}

section {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  background-color: #eee;
  border-radius: 0.5rem;
  overflow: hidden;
}

section.book-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

article {
  padding: 1rem;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 0.5rem;
}

h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px #ccc;
}

button {
  background-color: #fff;
  color: #000;
  padding: 0.6rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  align-self: flex-end;
  box-shadow: 4px 4px 0 rgb(2, 2, 2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  border-bottom: 2px solid #afacac;
}

li:last-child {
  border-bottom: none;
}

li:nth-child(odd) {
  background-color: #f4f2f2;
}

button.remove-btn {
  background-color: #fff;
  color: #000;
  border-radius: 0.25rem;
}

.error {
  color: #ff0707;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.success {
  color: green;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
}
